.list-group.tree-list {
  box-shadow: none;

  .list-group {
    margin-bottom: 0;
    box-shadow: none;
  }

  .list-group-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    border-width: 0px;
    padding: 2px 5px;

    background-color: inherit;

    .glyphicon {
      margin-right: 5px;
    }
  }

  .list-group .list-group-item {
    padding-left: 30px;
  }

  .list-group .list-group .list-group-item {
    padding-left: 50px;
  }

  .progress {
    margin-bottom: 0;
  }

  .list-group-item:last-child {
    border-bottom-width: 0;
  }
}
